.title-app {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  max-width: 1200px;
  margin: 0 auto;
}

* {

  box-sizing: border-box;	
}

.block-cmp {
  border: 1px solid #282c34;
  padding: 10px;
  margin: 4px;
}

.personal-info {

  display: flex;
  justify-content: space-around;
}

.personal-info .input-base {
  width: 30%;
}

.input-base > input {
  width: 100%;
}

.sc-flex {
  display: flex;
  flex-wrap: wrap;
  
}

.sc-flex > .block-cmp {
  width: 100%;
}
.day-table {
	width: 100%;
}
.day-table td {
  border: 1px solid #dc143c;
  padding: 4px 8px;

}

.double-column {
  display: flex;
}

.double-column > div {
	border: 1px solid #8b0000;
  width: 50%;
}

@media screen and (max-width: 800px) {
	.double-column {
		display: block;
	}
	.double-column > div {
		width: 100%;
	}
}

